<%= render layout: layout_path("header") do %>

  <div id="intro">
    <h1>GoOutfit</h1>
    <h2>
      <%= link_to "", class: "snap-ico with-ico" do %>
      <span class='ico'></span>Snap
      <% end %>
      <%= link_to "", class: "share-ico with-ico" do %>
      <span class='ico'></span>Share
      <% end %>
      <%= link_to "", class: "decide-ico with-ico" do %>
      <span class='ico'></span>Decide
      <% end %>
    </h2>
    <p><em>Snap</em> pictures of two outfits, <em>share</em> them with us, and we'll help you <em>decide</em>!</p>
  </div>

<% end %>
