<article class="battle">

  <h2>Outfit n2</h2>
  <p>Shot by Melanie</p>
  <p>New York &mdash; Sat, Oct 20</p>

</article>
<article class="battle">

  <h2>Outfit n2</h2>
  <p>Shot by Melanie</p>
  <p>New York &mdash; Sat, Oct 20</p>

</article>
<article class="battle">

  <h2>Outfit n2</h2>
  <p>Shot by Melanie</p>
  <p>New York &mdash; Sat, Oct 20</p>

</article>
<article class="battle">

  <h2>Outfit n2</h2>
  <p>Shot by Melanie</p>
  <p>New York &mdash; Sat, Oct 20</p>

</article>
<article class="battle">

  <h2>Outfit n2</h2>
  <p>Shot by Melanie</p>
  <p>New York &mdash; Sat, Oct 20</p>

</article>
<article class="battle">

  <h2>Outfit n2</h2>
  <p>Shot by Melanie</p>
  <p>New York &mdash; Sat, Oct 20</p>

</article>
<article class="battle">

  <h2>Outfit n2</h2>
  <p>Shot by Melanie</p>
  <p>New York &mdash; Sat, Oct 20</p>

</article>
<article class="battle">

  <h2>Outfit n2</h2>
  <p>Shot by Melanie</p>
  <p>New York &mdash; Sat, Oct 20</p>

</article>
<article class="battle">

  <h2>Outfit n2</h2>
  <p>Shot by Melanie</p>
  <p>New York &mdash; Sat, Oct 20</p>

</article>
<article class="battle">

  <h2>Outfit n2</h2>
  <p>Shot by Melanie</p>
  <p>New York &mdash; Sat, Oct 20</p>

</article>
<article class="battle">

  <h2>Outfit n2</h2>
  <p>Shot by Melanie</p>
  <p>New York &mdash; Sat, Oct 20</p>

</article>
<article class="battle">

  <h2>Outfit n2</h2>
  <p>Shot by Melanie</p>
  <p>New York &mdash; Sat, Oct 20</p>

</article>
<article class="battle">

  <h2>Outfit n2</h2>
  <p>Shot by Melanie</p>
  <p>New York &mdash; Sat, Oct 20</p>

</article>
<article class="battle">

  <h2>Outfit n2</h2>
  <p>Shot by Melanie</p>
  <p>New York &mdash; Sat, Oct 20</p>

</article>
<article class="battle">

  <h2>Outfit n2</h2>
  <p>Shot by Melanie</p>
  <p>New York &mdash; Sat, Oct 20</p>

</article>
<article class="battle">

  <h2>Outfit n2</h2>
  <p>Shot by Melanie</p>
  <p>New York &mdash; Sat, Oct 20</p>

</article>
<article class="battle">

  <h2>Outfit n2</h2>
  <p>Shot by Melanie</p>
  <p>New York &mdash; Sat, Oct 20</p>

</article>
<article class="battle">

  <h2>Outfit n2</h2>
  <p>Shot by Melanie</p>
  <p>New York &mdash; Sat, Oct 20</p>

</article>
<article class="battle">

  <h2>Outfit n2</h2>
  <p>Shot by Melanie</p>
  <p>New York &mdash; Sat, Oct 20</p>

</article>
<article class="battle">

  <h2>Outfit n2</h2>
  <p>Shot by Melanie</p>
  <p>New York &mdash; Sat, Oct 20</p>

</article>
<article class="battle">

  <h2>Outfit n2</h2>
  <p>Shot by Melanie</p>
  <p>New York &mdash; Sat, Oct 20</p>

</article>
<article class="battle">

  <h2>Outfit n2</h2>
  <p>Shot by Melanie</p>
  <p>New York &mdash; Sat, Oct 20</p>

</article>
<article class="battle">

  <h2>Outfit n2</h2>
  <p>Shot by Melanie</p>
  <p>New York &mdash; Sat, Oct 20</p>

</article>
<article class="battle">

  <h2>Outfit n2</h2>
  <p>Shot by Melanie</p>
  <p>New York &mdash; Sat, Oct 20</p>

</article>
<article class="battle">

  <h2>Outfit n2</h2>
  <p>Shot by Melanie</p>
  <p>New York &mdash; Sat, Oct 20</p>

</article>
<article class="battle">

  <h2>Outfit n2</h2>
  <p>Shot by Melanie</p>
  <p>New York &mdash; Sat, Oct 20</p>

</article>

