.row {
  @include clearfix;
}

.right { float: right; }
.left { float: left; }

.box {
  padding: $lh;
}
.s-box {
  padding: $gutter;
}

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2000;
}

.border-bottom {
  border-bottom: 1px solid black;
}

.col {
  float: left;
  margin-right: $gutter;

  &.last { margin-right: 0; }
}

@for $i from 1 through $col-number {
  .col#{$i} {
    width: grid-width($i);
  }
}

.content.grey {
  background: #f8f8f8;
}

.meta {
  color: #777;
}

.relative {
  position: relative;
}

.small-section {
  padding-bottom: 6px;
  margin-bottom: 6px;
}
