@include font-face(dekar, '/assets/dekar/DekarLight', normal, normal);
@include font-face(dekar, '/assets/dekar/Dekar', bold, normal);

body {
  background: #d4d4d4;
//   image-url("body-bg.png") 0 0 repeat-x fixed
}

#content-wrapper {
  background: black;
  position: relative;
  width: $wrapper-width;
  margin: 0 auto;
  padding-top: 42px;
  @include box-shadow(0 0 12px rgba(0, 0, 0, 0.3));
}

.content {
  @include clearfix;
  position: relative;
  padding: 0 $site-white-margins;
  margin: 0 $site-black-margins;
  background: white;
  &.dark {
    background: black;
  }
}

.fixed {
  .content {
    margin: 0 auto;
    width: $wrapper-width - 2 * $site-margins;
  }
}

#main-nav {
  .content {
    background: #222;
  }

  li {
    float: left;

    &.current a {
      color: white;
      background: black;
    }

    &.logo {
      a {
        font-weight: normal;
        color: white;
        padding-right: 50px;
        font-size: 16px;
        letter-spacing: 1px;
      }
    }
  }

  a {
    font-weight: bold;
    padding: 0 12px;
    color: $faded-white;
    display: block;
    line-height: 42px;
    font-size: 14px;

    &:hover {
      color: white;
    }

    &.button {
      @include border-radius(0);
      padding: 0 16px;
      color: white;
      background: #3B5998;
      &:hover { background: #4B67A1; }
    }
  }
}

#header {
  font-family: $dekar;
  background: black;

  h1 {
    font-size: 60px;
    color: white;
    padding: 50px 0;
    text-align: center;
  }
}

#intro {
  background: image-url("iphone.png") 50% 100% no-repeat;
  padding: 66px 0 380px;

  h1 {
    font-size: 87px;
    padding: 0 0 30px;
  }

  h2 {
    text-align: center;
    font-size: 42px;
    padding-bottom: 12px;

    a {
      color: #ddd;
      margin-right: 20px;

      &:hover {
        color: white;
      }
    }
  }

  p {
    text-align: center;
    font-size: 24px;
    color: darken($faded-white, 20%);
    font-weight: bold;

    em {
      font-style: normal;
      color: darken($faded-white, 10%);
    }
  }
}

.with-ico {
  display: inline-block;
  padding-left: 50px;
  position: relative;
}

.ico {
  height: 50px;
  width: 50px;
  display: block;
  position: absolute;
  left: 0;
  top: -2px;
  background: image-url("icons.png") 0 0 no-repeat;
}

#intro h2 a.snap-ico {
  margin-right: 30px;
}

.snap-ico {
  .ico { background-position: 0 -2px; }
}

.share-ico {
  .ico { background-position: -50px 0; }
  padding-left: 60px;
}
.decide-ico .ico {
  background-position: -100px -2px;
}

.love-ico .ico {
  background-position: 0 -100px;
}

.author {
  font-size: 14px;
  font-weight: bold;
}

.data {
  .section {
    border-top: 1px solid #ccc;
    padding-top: $gutter;
    margin-bottom: $lh;
    &.first {
      margin-bottom: $lh + 6px;
      border-top: 6px solid #52a776;
    }
  }
}

.items {
  padding: $gutter 0;
  border-bottom: 1px solid #ccc;

  a {
    display: block;
    float: left;
    margin-right: 10px;
    height: 45px;
    width: 45px;
    display: block;
    text-indent: -9999px;
    padding: 0;
    &.last { margin: 0; }
    background-position: center center;
    background-repeat: no-repeat;
  }

  .dress {
    background-image: image-url("dress.png");
  }
  .pants {
    background-image: image-url("pants.png");
  }
  .sweat {
    background-image: image-url("sweat.png");
  }
}

.me {
  img {
    @include border-radius(1px);
    height: 18px;
    width: 18px;
    margin-right: 5px;
  }
  span {
    vertical-align: top;
  }
}

.pic-wrapper {
  background: #ccc;
  min-height: 168px;
  position: relative;

  a, h3 {
    color: white;
    text-shadow: 0 0 3px rgba(0, 0, 0, .75);
  }

  h3 {
    font-size: 18px;
    font-weight: normal;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    @extend .small-section;
  }

  .controls-wrapper {
    width: 100%;
    height: 168px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    background: image-url("overlay.png") 0 0 repeat-x;
  }

  &:hover {
    .controls-wrapper {
      display: block;
    }
  }

  .controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
